.container-fluid, body{
      
    text-align: center;
    font-size: 13px;
    background-color: #CCFFCC!important;
    padding: 0px;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
#section{
    
    text-align: left;
    padding: 0px;
    margin-top: 50px
}
#homepg{
    /* background-color: saddlebrown; */
    width:100%;
    font-size: 50px;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}





.required{
    color: red;
    font-size:25px;
}
.msg{
    color:red;
    font-size:14px
}
.fullimage{
    width:100%;
}

 
#loginpg, #registerpg,.userprofile {
border-radius: 6px;
box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);

}

.even {
    background-color: #b7e4ba;
}

